.elevator-playground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elevator-box-container,
.elevator-queues {
  display: flex;
  align-items: flex-end;
  height: 500px;
}

.elevator-box {
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.elevator-level {
  margin: 20px 0;
  height: 40px;
  display: flex;
}

.elevator-queues > div {
  margin: 0 10px;
}

.elevator-queues {
  justify-content: center;
}

.floor-queued {
  background-color: beige;
}

.floor-column {
  display: flex;
}

.floor-number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-current {
  border: 2px solid rgba(235, 0, 0, 0.3);
}

.elevator-floor-button {
  border: 2px solid rgba(0, 0, 0, 0.3) !important;
  margin-right: 10px !important;
}

.elevator-floor-button.highlight {
  border-color: #1976d2 !important;
}

.elevator-demo div.elevator-action {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 1s;
  border: 1px solid #1976d2;
  cursor: pointer;
  color: #1976d2;
}

.elevator-demo div.elevator-action:hover {
  color: #fff;
}

.elevator-demo div.elevator-action::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #1976d2;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.elevator-demo div.elevator-action:hover::before {
  transform: scaleX(1) skewX(35deg);
}
